:root {
	--text-color:  #000;
	--border-color: #625c5c;
	--bg-color: #ccc ;
}

html {
	box-sizing: border-box;
	color: var(--text-color);
}
.container {
	display: grid;
	grid-gap: 15px;

	/* fractional space/ free space(fr) occuping remaining space */
	grid-template-columns: auto 3fr 1fr;   /* sets default width */

	/* sets default height and auto takes max content height/width */
	grid-template-rows:  4fr 1fr 2fr;

}

.item {
	border: 2px solid var(--border-color);
	text-align: center;
	background-color: yellow;
}
